# javascript
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/

# python
venv/
__pycache__/

# build output
dist/
dist-*.zip

# GeoIP2 database
geoip/*.mmdb

# etc..
.env
.jwt.json
