hr {
    margin-top: 60px;
    border: none;
}

.field {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 30px;
    font-weight: 500;
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="password"] {
    display: block;
    width: 100%;
    font-size: 20px;
    background-color: var(--background);
    color: var(--color);

    padding: 10px;
    border: 1px solid var(--color);
    border-radius: 0.25rem;
}

input:focus {
    border-color: crimson;
}

li,
li > ul {
    margin-left: 25px;
}

ul > li {
    margin-left: 0;
}

ul > li::before {
    content: "-";
    margin-right: 10px;
}
