/* Label area */
div.labels {
    display: flex;
    flex-wrap: wrap;
}

/* Label Colors */
span.lv1 {
    --background: #2093ff;
    --color: #fff;
}

span.lv2 {
    --background: #ffcc4d;
    --color: #000;
}

span.lv3 {
    --background: #dc143c;
    --color: #fff;
}

/* Label */
div.labels > span {
    color: var(--color);
    background-color: var(--background);
    border-radius: 0.25rem;
    padding: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

div.labels > span:not(:last-child) {
    margin-right: 3px;
}
