/* Mobile */
@media (max-width: 700px) {
    .navbar ul {
        list-style-type: none;
        overflow: hidden;
    }

    .navbar ul .head {
        display: inline-block;
        height: 45px;
        width: calc(50% - 20px);
    }

    .navbar ul .head:nth-child(2) {
        position: absolute;
        right: 5%;
    }

    .navbar ul a.trigger {
        height: 26px;
        --space: calc(26px / 3);
        --start: 3px;
    }

    .navbar ul a.trigger > span {
        position: absolute;
        display: block;
        right: 0;
        width: 30px;
        margin-top: var(--start);
        border-bottom: 1px solid var(--color);
    }

    .navbar ul a.trigger > span:nth-child(2) {
        margin-top: calc(var(--space) + var(--start));
    }

    .navbar ul a.trigger > span:nth-child(3) {
        margin-top: calc(var(--space) * 2 + var(--start));
    }

    .navbar ul.nav-opened a.trigger > span {
        border-color: var(--gray);
    }

    .navbar .nav-closed li:not(.head) {
        display: none;
    }

    .navbar li {
        display: block;
        color: var(--color);
        background-color: var(--background);
        text-align: left;
        text-decoration: none;
        padding-top: 15px;
    }

    .navbar li > a {
        display: block;
        width: 100%;
    }
}

/* PC */
@media (min-width: 700px) {
    .navbar ul {
        list-style-type: none;
        overflow: hidden;
    }

    .navbar ul .trigger {
        display: none;
    }

    .navbar li {
        float: left;
        display: block;
        color: var(--color);
        background-color: var(--background);
        text-align: center;
        text-decoration: none;
        margin: 0;
        padding: 0;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar li:first-child {
        text-align: left;
        padding-left: 0;
    }

    .navbar li:nth-child(2) {
        display: none;
    }
}

.navbar a {
    color: var(--color);
    text-decoration: none;
}

.navbar a:hover,
.navbar a:focus {
    --color: var(--blue);
    text-shadow: 0 0 var(--text-shadow) var(--color);
}

.navbar li::before {
    content: none;
}
