@font-face {
    font-family: "D2Coding";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://cdn.jsdelivr.net/gh/chick0/fonts@f4a5aa1819a4d7d8c7e4ab5a3c63ad54b512768b/d2coding/D2Coding.v1.3.2.woff2")
        format("woff2");
    unicode-range: U+0020-007E;
}
