/* Heading */
h1.markdown,
h2.markdown {
    font-size: 30px;
}

h3.markdown,
h4.markdown {
    font-size: 25px;
}

/* Breakpoint */
hr.markdown {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px dashed var(--color);
}

/* Code */
@font-face {
    font-family: "D2Coding";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/D2Coding.woff2") format("woff2");
    unicode-range: U+0020-007E;
}

code {
    font-family: D2Coding, Pretendard, monospace;
}

/* checkbox */
ul i.todo-task {
    font-style: normal;
    margin-left: -10px;
    margin-right: -5px;
}

ul i.checked::before {
    content: "✔️";
}

ul i.not-checked::before {
    content: "❌";
}
